{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "plugin:import/recommended"
  ],
  "parser": "babel-eslint",
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "env": {
    "node": true,
    "browser": true
  },
  "rules": {
    "import/no-unresolved": [2, { "ignore": ["\\.(css|jpg|png|svg)$"] }],
    "react/prop-types": 0
  }
}